.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 20%); // Light backdrop
    backdrop-filter: blur(3px);
    z-index: 1000;
}

.cube-container {
    perspective: 800px;
}

.pulsator {
    transform-style: preserve-3d;
    animation: pulse 2s infinite ease-in-out;
}

.cube {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-35deg) rotateY(-45deg);
    animation: rotate 6.7s infinite linear;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 2px solid var(--primary-color);
    background-color: rgb(255 255 255 / 10%);
    box-sizing: border-box;
    box-shadow: 0 0 20px var(--primary-color);
}

// Positioning each face of the cube
.front {
    transform: translateZ(50px);
}

.back {
    transform: rotateY(180deg) translateZ(50px);
}

.right {
    transform: rotateY(90deg) translateZ(50px);
}

.left {
    transform: rotateY(-90deg) translateZ(50px);
}

.top {
    transform: rotateX(90deg) translateZ(50px);
}

.bottom {
    transform: rotateX(-90deg) translateZ(50px);
}

@keyframes rotate {
    from {
        transform: rotateX(-35deg) rotateY(-45deg) rotateZ(0);
    }

    to {
        transform: rotateX(-35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }
}
