@mixin default-block-settings {
    border-radius: 12px;
    border: 1px solid var(--border-color);
    background: var(--block-bg);
    backdrop-filter: blur(3px);
}

@mixin default-page-styles {
    width: 100%;
    margin: var(--block-margin) 0;
    padding: 20px;
    height: 92.5vh;
    overflow-y: scroll;

    @media (max-width: 768px) {
        height: auto;
    }
}

@mixin center-child {
    top: 50%;
    transform: translate(-50%, -50%);
}
