.AddGoalForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50vw;
    padding: 20px;
    border-radius: 10px;

    //background: var(--bg-color);
    backdrop-filter: blur(3px);

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.input {
    width: 100%;
}

.subgoals {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subgoalsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-size: 14px;
}

.addSubgoalBtn {
    font-size: 20px;
    padding: 0 8px;
}

.subgoalInput {
    flex-grow: 1;
    font-size: 14px;
    padding: 8px;
}

.subgoalRow {
    display: flex;
    gap: 8px;
    align-items: center;
}

.subgoalPoints {
    width: 80px;
    font-size: 14px;
    padding: 8px;
}

.saveBtn {
    align-self: flex-end;
}
