.ActionItem {
    display: flex;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--inverted-bg-color);
    border-radius: var(--default-border-radius);
    backdrop-filter: blur(15px);
}

.points {
    font-weight: bold;
    font-size: 18px;
    margin-right: 16px;
    color: var(--green);
    min-width: 40px;
    text-align: center;

    &.penalty {
        color: var(--secondary-color);
    }
}

.content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 16px;
    margin-bottom: 4px;
    color: var(--primary-color);
}

.date {
    font-size: 12px;
    opacity: 0.7;
    align-self: flex-end;
    color: var(--primary-color);
}
