.CheckboxWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    position: relative;
    margin-bottom: 18px;

    @media screen and (max-width: 768px) {
        margin-bottom: 0;
    }
}

.input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    margin-top: 3px;
}

.round .checkmark {
    border-radius: 50%;
}

.CheckboxWrapper:hover .input:not(:checked):not(:disabled) ~ .checkmark {
    background-color: rgb(0 0 0 / 5%);
}

.CheckboxWrapper:hover .input:checked:not(:disabled) ~ .checkmark {
    opacity: 0.8;
}

.secondary .input:checked ~ .checkmark {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.primary .input:checked ~ .checkmark {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.input:disabled ~ .checkmark {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
    opacity: 0.5;
}

/* Tooltip style */
.tooltipContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltipContainer[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 10px;
    background: #333;
    color: var(--tooltip-color, #fff);
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 100;
    pointer-events: none;
    border: 1px solid var(--tooltip-color, transparent);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.input:checked ~ .checkmark::after {
    display: block;
}

.CheckboxWrapper .checkmark::after {
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

.input:disabled ~ .checkmark {
    background-color: #ccc;
    border-color: #ccc;
    cursor: not-allowed;
}

.CheckboxWrapper .input:disabled {
    cursor: not-allowed;
}

.label {
    margin-left: 8px;
    font-size: 16px;
    color: var(--primary-color);
}
