.TodoList {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.empty {
    text-align: center;
    opacity: 0.6;
    margin-top: 40px;
}

.item {
    width: 100%;
}

.completedTitle {
    margin-top: 24px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    opacity: 0.8;
}

.completedList {
    opacity: 0.8;
}
