.profilePage {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-size: 14px;
    opacity: 0.7;
}

.value {
    font-size: 18px;
    font-weight: bold;
}

.logoutBtn {
    width: fit-content;
    margin-top: 20px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 0;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);

    @media screen and (min-width: 769px) {
        display: none;
    }
}

.settingItem {
    display: flex;
    align-items: center;
    gap: 15px;
}
