.desktopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media (max-width: 768px) {
        display: none;
    }
}

.mobileFab {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        position: fixed;
        bottom: 90px;
        right: 20px;
        z-index: 100;
    }
}
