.AddActionForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50vw;
    padding: 20px;
    border-radius: 10px;
    background: var(--bg-color);
    backdrop-filter: blur(3px);

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.header {
    display: flex;
    gap: 16px;
}

.input {
    height: 40px;
    width: 100%;
    color: var(--text-color);
}

.points {
    width: 100%;
    height: 40px;
}

.checkbox {
    margin-top: 8px;

    @media screen and (max-width: 768px) {
        margin-top: 0;
    }
}

.saveBtn {
    align-self: flex-end;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.footerContainer {
    display: flex;
    justify-content: space-between;

    .pointsWrapper {
        display: flex;
        gap: 16px;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 20px;
    }
}
