@import "1_App/styles/variables/defaultMixins.scss";

.GoalsPage {
    @include default-block-settings;
    @include default-page-styles;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
