@import "1_App/styles/variables/defaultMixins";

.GoalsPage {
    @include default-block-settings;
    @include default-page-styles;
}

.mobileFab {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        position: fixed;
        bottom: 90px;
        right: 20px;
        z-index: 10000;

        //button {
        //    width: 50px;
        //    height: 50px;
        //    font-size: 30px;
        //}
    }
}
