.app.dark {
    --bg-color: #00162b;
    --inverted-bg-color: rgb(160 160 160 / 78%);
    --primary-color: #ffc906;
    --secondary-color: #cc1e4a;
    --green: #2cd32c;

    transition: var(--default-transition);
}

:root {
    --mode-color: rgb(37 55 75 / 93%);
    --border-color: rgb(160 160 160 / 40%);
    --border-strong: rgb(160 160 160 / 100%);
    --block-bg: hsl(0deg 0% 100% / 10%);
    --additional-color: #446;
    --additional-color-2: #121f45;
    --gray: #4d4d4c;
    --default-transition: all 0.3s ease-in-out;
}
