.app.light {
    transition: var(--default-transition);

    --mode-color: #fff;
}

:root {
    --bg-color: rgb(160 160 160 / 78%);
    --inverted-bg-color: #121f45;
    --primary-color: #00162b;
    --secondary-color: #cc1e4a;
}
