.CustomInputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 10px;
    border: 1px solid var(--primary-color) !important;
    border-radius: 10px;
    background: transparent;
    color: var(--primary-color);
    outline: none;
    font-size: 16px;
    transition: all 0.2s ease-in-out;

    &::placeholder {
        color: var(--inverted-bg-color);
        opacity: 0.5;
    }

    &:focus:not(:read-only) {
        box-shadow: 0 0 5px var(--primary-color);
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }

    &[type="number"] {
        appearance: textfield;
    }
}

.readonly {
    opacity: 0.5;
    cursor: default !important;

    .input {
        cursor: default;
        border-color: var(--border-color);

        &:focus {
            box-shadow: none;
        }
    }
}

.caret {
    height: 3px;
    width: 9px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: blink 0.7s infinite;
    display: none;
}
