.LineChartWrapper {
    width: 100%;
    margin-bottom: 40px;
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 12px;
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    color: var(--primary-color);
}

.svg {
    width: 100%;
    height: auto;
    overflow: visible;
}

.pointGroup:hover {
    circle {
        r: 6;
        transition: 0.2s;
    }
    text {
        opacity: 1;
        transition: 0.2s;
    }
}
