.Button {
    cursor: pointer;
    color: var(--primary-color);
    background: none;
    border: none;
    outline: none;
    font: inherit;
}

.clear {
    padding: 0;
    margin: 0;
}

.default {
    padding: 8px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--primary-color);
        color: var(--bg-color);
    }
}
