.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.default {
    font: inherit;
    padding: 0;
    border: none;
    outline: none;
    color: var(--primary-color);
}
