.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @include default-block-settings;

    &_stats {
        display: flex;
        gap: 10px;
    }

    &_stat {
        width: 100px;
    }
}

.links {
    margin-right: auto;
}

.mainLink {
    margin-right: 15px;
}
