.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    @include default-block-settings;

    &.loggedIn {
        @media screen and (max-width: 768px) {
            justify-content: center;

            .auth {
                display: none;
            }
        }
    }

    &_stats {
        display: flex;
        gap: 10px;

        /* Убираем margin-left: auto отсюда, чтобы элементы шли подряд */

        @media screen and (max-width: 768px) {
            gap: 5px;
        }
    }

    &_stat {
        width: 100px;

        @media screen and (max-width: 768px) {
            width: 22vw;
        }
    }
}

.auth {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: auto; /* Сдвигаем все остальное вправо */
}

.challenges {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 12px;
}

.challengeIcon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.profileLink {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    transition: opacity 0.2s;

    &:hover {
        opacity: 0.8;
    }
}

.userIcon {
    width: 24px;
    height: 24px;
}

.loginLink {
    font-weight: bold;
}

.links {
    margin-right: auto;
}

.mainLink {
    margin-right: 15px;
}
