.DateSeparator {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 24px 0 12px;
    opacity: 0.9;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--primary-color);
    opacity: 0.3;
}

.content {
    margin: 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
}

.date {
    color: var(--primary-color);
}

.points {
    color: green;
    font-weight: bold;

    &.negative {
        color: var(--secondary-color);
    }
}