.ActionList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.empty {
    text-align: center;
    opacity: 0.6;
    margin-top: 40px;
}

.item {
    width: 100%;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}
