.CircleButton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffc906ff !important;
    color: var(--text-color);
    font-size: 25px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: transform 0.2s;
    border: none;
    padding-bottom: 2px;

    &:hover {
        transform: scale(1.1);
    }
}
