.TodoPageRoot {
    @include default-block-settings;
    @include default-page-styles;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}
