.TodoItem {
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 8px;
    background: rgba(255, 255, 255, 0.5);
    border-left-width: 6px;
}

.low { border-left-color: #2cd32c; }
.medium { border-left-color: orange; }
.high { border-left-color: #cc1e4a; }

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.description {
    font-size: 16px;
    color: var(--primary-color);
    transition: 0.2s;
}

.completed .description {
    text-decoration: line-through;
    opacity: 0.6;
}

.points {
    font-weight: bold;
    color: var(--green, green);
    margin-left: 10px;
}
