.TodoItem {
    padding: 12px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 8px;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    border-left-width: 6px;
}

.low { border-left-color: #2cd32c; }
.medium { border-left-color: orange; }
.high { border-left-color: #cc1e4a; }

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.description {
    font-size: 16px;
    color: var(--primary-color);
    transition: 0.2s;
}

.completed .description {
    text-decoration: line-through;
    opacity: 0.6;
}

.points {
    font-weight: bold;
    color: var(--green, green);
    margin-left: 10px;
}

.subtasksList {
    margin-top: 12px;
    margin-left: 12px;
    padding-left: 12px;
    border-left: 2px solid rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
}

.subtaskItem {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px;
    font-size: 14px;
    color: var(--primary-color);
}

.subtaskCompleted {
    text-decoration: line-through;
    opacity: 0.6;
}
