.AddTodoForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50vw;
    padding: 20px;
    border-radius: 10px;
    background: var(--bg-color);
    backdrop-filter: blur(3px);

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.input {
    width: 100%;
}

.select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background: transparent;
    color: var(--primary-color);
    outline: none;
    font-size: 16px;
}

.subtasks {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtasksHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    font-size: 14px;
}

.addSubtaskBtn {
    font-size: 20px;
    padding: 0 8px;
}

.subtaskInput {
    font-size: 14px;
    padding: 8px;
}

.saveBtn {
    align-self: flex-end;
}
