.ScorePageRoot {
    @include default-block-settings;
    @include default-page-styles;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.totalScore {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: var(--primary-color);
}

.addBtn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgb(0 0 0 / 20%);
    cursor: pointer;
    transition: transform 0.2s;
    border: none;

    &:hover {
        transform: scale(1.1);
    }
}
