.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--primary-color);
    font: var(--font-m);
    transition: 0.5s ease-in-out;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.content {
    border-radius: 12px;
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 90%;

    @media screen and (max-width: 768px) {
        width: 93vw;
        max-width: 93vw;
    }
}

.opened {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;

    .content {
        transform: scale(1);
    }
}

.isClosing {
    opacity: 0;

    .content {
        transform: scale(0.2);
    }
}
